
body {
  background-color: white;
  margin: 40px;
}

.box {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.box1 {
  background-color: cadetblue;
  padding: 20px;
  border: 10px solid black;
  position: relative;
  top: -10px;
  left: 10px;
}

.box1 p {
  margin: 0;
}

.box2 {
   background-color: gold;
        border-style: dashed;
        border-color: black;
        border-width: 20px 10px;
        margin: -10px 0 0 -10px;
  position: relative;
  top: -10px;
  left: 220px;
}

.box3 {
  background-color: indianred;
  border: 10px dotted black;

  position: relative;
  top: -10px;
  left: 10px;
}
